* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    overflow: hidden;
    background-color: #ECEDE6;
    color: #A7A6B0;
}

.container {
    display: flex;
    height: 100vh;
}

header {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    text-align: center;
    background-color: #5D6474;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.nav__link{
    width: max-content;
    margin: 0 auto;
    display: block;
    padding: 2px 5px;
    transition: all 300ms ease-in;
}

    .nav__link:hover,
    .nav__link:focus {
        color: #a5e3ff;
        transform: scale(1.1);
    }

.userName {
    margin-bottom: 15px;
}

.hauptbildschirm {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    padding: 10px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 8%;
    border: 1px solid #8CA9BD;
}

.benutzerAnmBereich {
    background-image: url(../bilder/benutzerVarwaltungsKater.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.haupttitel {
    margin-bottom: 25px;
}

.extratitel {
    margin-bottom: 20px;
}

form > hr {
    margin-bottom: 15px;
}

.text-danger {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 20px;
    display: block;
    color: #da3d3d;
}

.input {
    min-width: 210px;
    padding: 5px 10px;
    border: 1px solid #6498AF;
}
.benutzerSystem{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn {
    display: inline-flex;
    background-color: #6498AF;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
    .btn:hover,
    .btn:focus {
        background-color: #ECEDE6;
        color: #353535;
    }

.checkbox {
    margin-bottom: 10px;
}

.home {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.homebereich {
    background-image: url(../bilder/homebereichKater.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.angemeldethomebereich {
    background-image: url(../bilder/angemeldetehomebereichKater.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

    .angemeldethomebereich > ul {
        list-style: disc;
    }

footer {
    padding: 5px 10px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.benutzerverwalten {
    display: flex;
    gap: 10px;
    width: max-content;
    border-bottom: 1px solid black;
}

    .benutzerverwalten .nav-link {
        display: block;
        padding: 5px 10px;
        background-color: #5D6474;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        transition: all 300ms ease-in;
    }

        .benutzerverwalten .nav-link:hover,
        .benutzerverwalten .nav-link:focus {
            background-color: #6498AF;
        }

        .benutzerverwalten .nav-link.active {
            background-color: #6498AF;
        }

.verwalungskarte {
    position: relative;
    min-height: 30vh;
    display: flex;
    justify-content: space-evenly;
    box-shadow: -8px 3px 4px #ccc;
    padding: 10px 15px;
    margin-bottom: 20px;
}

    .verwalungskarte.email,
    .verwalungskarte.passwort,
    .verwalungskarte.daten,
    .verwalungskarte.loeschen {
        flex-direction: column;
    }

.alte-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.verwaltungsnachricht {
    position: absolute;
    bottom: -20px;
    left: 0;
}

    .verwaltungsnachricht.text-danger {
        margin: 0;
    }

.datenbenutzer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.bildbenutzer {
    align-items: center;
}

.titelverwalten {
    margin-bottom: 15px;
}

.nextbildbenutzer {
    min-width: 100px;
}

.atemEinstellungen {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    background-image: url(../bilder/angemeldetehomebereichKater.png);
    background-repeat: no-repeat;
    background-position: 40vw center;
    background-size: contain;
}

.atemEinstellungen__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min-content;
}

.atemUebung {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    background-image: url(../bilder/atmenKater.png);
    background-repeat: no-repeat;
    background-position: 40vw center;
    background-size: contain;
}

.atemUebung__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#quadratContainer {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.quadratLinie {
    position: absolute;
    z-index: 2;
    background: #4CAF50;
}

#top {
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
}

#rechts {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 0;
}

#unten {
    bottom: 0;
    right: 0;
    height: 4px;
    width: 0;
}

#links {
    bottom: 0;
    left: 0;
    width: 4px;
    height: 0;
}

.logoContainer {
    display: flex;
    perspective: 1000px;
    margin: 0 auto;
}

.logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100vh) rotateX(90deg);
    animation: dropIn 0.8s forwards, bounce 0.3s 0.8s forwards;
}

@keyframes dropIn {
    to {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.letter:nth-child(1) {
    animation-delay: 0s, 0.8s;
}

.letter:nth-child(2) {
    animation-delay: 0.1s, 0.9s;
}

.letter:nth-child(3) {
    animation-delay: 0.2s, 1.0s;
}

.letter:nth-child(4) {
    animation-delay: 0.3s, 1.1s;
}

.letter:nth-child(5) {
    animation-delay: 0.4s, 1.2s;
}

.letter:nth-child(6) {
    animation-delay: 0.5s, 1.3s;
}

.letter:nth-child(7) {
    animation-delay: 0.6s, 1.4s;
}

.logo.animate .letter {
    animation: dropIn 0.8s forwards, bounce 0.3s 0.8s forwards;
}
