*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    overflow: hidden;
    background-color: #ECEDE6;
    color: #6498AF;
}

.container{
    display: flex;
    height: 100vh;
}
header {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    text-align: center;
    background-color: #5D6474;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.logoContainer {
    margin-bottom: 50px;
}
.userName{
    margin-bottom: 15px;
}
.hauptbildschirm {
    width: 85%;
}
footer {
    position: fixed;
    bottom: 5px;
}
