@using Microsoft.AspNetCore.Identity
@using cAthlet.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - cAthlet</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/cAthlet.styles.css" asp-append-version="true" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="logoContainer">
					<div class="logo" id="logo">
						<span class="letter">c</span>
						<span class="letter">A</span>
						<span class="letter">t</span>
						<span class="letter">h</span>
						<span class="letter">l</span>
						<span class="letter">e</span>
						<span class="letter">t</span>
					</div>
				</div>

				<ul>
					<li>
						<a asp-area="" asp-controller="Home" asp-action="Index" class="nav__link">Home</a>
					</li>
					<li>
						<a asp-area="" asp-controller="Atem" asp-action="Index" class="nav__link">Einheitliches Atmen</a>
					</li>
				</ul>
				<partial name="_LoginPartial" />
			</nav>
		</header>
		<div class="hauptbildschirm">
			<main role="main">
				@RenderBody()
			</main>
			<footer >
				<div>
					&copy; 2025 - cAthlet - 
				</div>
			</footer>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
