@using Microsoft.AspNetCore.Identity
@using cAthlet.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="benutzerSystem">
@if (SignInManager.IsSignedIn(User))
{
    <li class="userName">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hallo Benutzer!</a>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li>
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
