@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="verwalungskarte passwort">
                
                <div class="form-floating mb-3">
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <input asp-for="Input.OldPassword" class="form-control input" autocomplete="current-password" aria-required="true" placeholder="Bitte geben Sie Ihr altes Passwort ein." />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <input asp-for="Input.NewPassword" class="form-control input" autocomplete="new-password" aria-required="true" placeholder="Bitte geben Sie Ihr neues Passwort ein." />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control input" autocomplete="new-password" aria-required="true" placeholder="Bitte bestätigen Sie Ihr neues Passwort." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger verwaltungsnachricht" role="alert"></div>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
            
            <button type="submit" class="w-100 btn btn-lg btn-primary">Passwort aktualisieren</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
