@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div>
    <form id="delete-user" method="post">
       <div class="verwalungskarte loeschen">

            <div class="alert alert-warning" role="alert">
                <p>
                    <strong>Durch das Löschen dieser Daten wird Ihr Konto endgültig gelöscht und kann nicht wiederhergestellt werden.</strong>
                </p>
            </div>
            
            @if (Model.RequirePassword)
            {
                <div class="form-floating mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control input" autocomplete="current-password" aria-required="true" placeholder="Bitte geben Sie Ihr Passwort ein." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger verwaltungsnachricht" role="alert"></div>
       </div>

        <button class="w-100 btn btn-lg btn-danger" type="submit">Daten löschen und mein Konto schließen</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
