@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
           @*  <div asp-validation-summary="All" class="text-danger" role="alert"></div> *@
            <div class="verwalungskarte email">
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating mb-3 input-group alte-email">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control input" placeholder="Bitte geben Sie eine neue E-Mail-Adresse ein." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control input" placeholder="Bitte geben Sie eine neue E-Mail-Adresse ein." disabled />
                    </div>
                }
                <div class="form-floating mb-3">
                    <label asp-for="Input.NewEmail" class="form-label"></label>
                    <input asp-for="Input.NewEmail" class="form-control input" autocomplete="email" aria-required="true" placeholder="Bitte geben Sie eine neue E-Mail-Adresse ein." />
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
                <partial name="_StatusMessage" for="StatusMessage" />
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
