@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-6">
        <div class="verwalungskarte daten">
            <p>Ihr Konto enthält personenbezogene Daten, die Sie uns mitgeteilt haben.</p>
            <p>Auf dieser Seite können Sie diese Daten herunterladen oder löschen.</p>
            <p>
                <strong>Durch das Löschen dieser Daten wird Ihr Konto endgültig gelöscht und kann nicht wiederhergestellt werden.</strong>
            </p>
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">Herunterladen</button>
            </form>
           <br />
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Löschen</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
