@page
@model LoginModel

@{
	ViewData["Title"] = "Anmelden";
}

<div class="benutzerAnmBereich">
	<h1 class="haupttitel">@ViewData["Title"]</h1>
	<div>
		<div>
			<form id="account" method="post">
				<h2 class="extratitel">Verwenden Sie ein lokales Konto, um sich anzumelden.</h2>
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<label asp-for="Input.Email" class="form-label">E-Mail</label>
					<input asp-for="Input.Email" class="form-control input" autocomplete="username" aria-required="true" placeholder="name@beispiel.de" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<label asp-for="Input.Password" class="form-label">Passwort</label>
					<input asp-for="Input.Password" class="form-control input" autocomplete="current-password" aria-required="true" placeholder="qwerty123" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="checkbox mb-3">
					<label asp-for="Input.RememberMe" class="form-label">
						<input class="form-check-input" asp-for="Input.RememberMe" />
						@Html.DisplayNameFor(m => m.Input.RememberMe)
					</label>
				</div>
				<div>
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
